<div class="flex flex-col min-h-screen justify-start gap-3">
  <%= form_with model: metric  do |form| %>
    <% if form.object.errors.any? %>
      <% form.object.errors.full_messages.each do |msg| %>
        <div><%= msg %></div>
      <% end %>
    <% end %>
    <div class="flex flex-col gap-3">
      <div class="flex justify-between">
        <%= form.label :time %>
        <%= form.text_field :time, class: "border border-gray-300" %>
      </div>

      <div class="flex justify-between">
        <%= form.label :distance %>
        <%= form.text_field :distance, class: "border border-gray-300" %>
      </div>
      
      <div class="rounded-sm shadow-lg text-center hover:scale-110 border border-gray-300">
        <%= form.button %>
      </div>
    </div>
  <% end %>
</div>